:root {
  --brading-color: #6c63ff;
  --secondary-color: #f9f7fe;
  --heading-font-family: "Playfair dis[lay", serif;
  --default-font-family: "poppins", sans-serif;
}
body {
  font-family: var(--default-font-family);
}
.logo {
  max-width: 150px;
}
nav ul {
  margin: 0;
}
nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}
nav {
  padding: 20px 0;
}
nav a {
  text-decoration: none;
  color: #272142;
  transition: all 100ms ease-in-out;
}
nav a:hover {
  color: var(--brading-color);
}
nav li.active a {
  color: var(--brading-color);
}

h3,
h4,
h5,
h6 {
  color: black;
  font-family: "Playfair Display", serif;
  font-weight: bold;
}
h1 {
  font-size: 4em;
  font-family: var(--heading-font-family);
}

p {
  font-family: "Poppins", sans-serif;
}

.hero {
  background: var(--secondary-color);
  text-align: center;
  padding: 160px 20px;
}
.hero p {
  font-size: 34px;
  font-weight: bold;
  margin: 0;
  color: #272142;
}
.hero h2 {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  line-height: 2;
  font-size: 20px;
}
h2 {
  font-size: 64;
  font-weight: bold;
  font-family: var(--heading-font-family);
}

.btn-branding {
  background: var(--brading-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 20px;
}
.btn-branding-outline {
  color: var(--brading-color);
  border: 1px solid var(--brading-color);
  font-size: 18px;
  border-radius: 4px;
  line-height: 27px;
  padding: 20px;
}
.btn-branding {
  border: 1px solid var(--brading-color);
  font-size: 18px;
  border-radius: 4px;
  line-height: 27px;
  padding: 20px;
}
.content-container {
  padding: 60px 20px;
}
.content h1 {
  font-size: 54px;
  line-height: 80px;
}
.content p {
  font-size: 14px;
}
.content h3 {
  font-size: 24px;
  line-height: 1.5;
  font-family: var(--default-font-family);
}
.content-container p {
  font-size: 18px;
  font-family: var(--default-font-family);
}
.about-section-content {
  margin: 30px;
}

footer .email-link {
  color: black;
  font-size: 24px;
}
footer .email-link:hover {
  color: var(--brading-color);
}
footer .socials a {
  margin: 0;
  color: var(--brading-color);
  background: var(--secondary-color);
  padding: 10px 14px;
  font-size: 18px;
  border-radius: 50%;
  transition: all 150ms ease-in-out;
}
footer .socials a:hover {
  color: white;
  background: var(--brading-color);
}
@media (max-width: 600px) {
  .project-description {
    padding: 0;
    text-align: center;
  }
  .content {
    text-align: center;
    padding: 0;
  }
}
